@page "/"
<PageTitle>Index</PageTitle>

<div class="d-flex align-items-center justify-content-center min" style="height: 60vh">
    <a href="account/login" class="btn btn-outline-success mx-2">ورود به سیستم</a>
    <a href="account/register" class="btn btn-outline-primary mx-2" style="width:123.44px">ثبت نام</a>
</div>


@code {
    
}