<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <text>شما به این صفحه دسترسی ندارید.</text>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>چیزی پیدا نشد</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">صفحه ای با این آدرس وجود ندارد.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>